@model Chino.IdentityServer.ViewModels.Partials.ListEditorViewModel

<div class="card">
    <div class="card-body">
        <input class="form-control" placeholder="@Model.InputPlaceholder"/>
    </div>
</div>