@page
@model Chino.IdentityServer.Pages.IndexModel
@inject IStringLocalizer<Chino.IdentityServer.Pages.IndexModel> L
@inject Chino.IdentityServer.Services.CommonLocalizationService CL

@{
    this.ViewData["Title"] = L["Home"];
}
@*Hello, World
<br>
@CL["hello"]*@

<div class="col">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card mx-3 my-5 shadow">
            <div class="card-body">
                <p>@(this.User.Identity.IsAuthenticated?L["hello_loggedIn", Model.UserDisplayName]:L["hello_anonymous"])</p>
                <a asp-page="/User/Index" class="btn btn-primary px-4">@L["ToUserPage"]</a>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
    <!-- data-toggle="collapse"属性表示该链接可以展开或折叠其他元素 -->
    <!-- href="#myDiv"用于指明要展开或折叠的是id为myDiv的元素 -->
    <!--<a class="btn btn-primary" role="button" data-toggle="collapse" href="#myDiv" aria-expanded="true"
       aria-controls="myDiv">
        使用链接控制折叠
    </a>-->
    <!-- data-toggle="collapse"属性表示该链接可以展开或折叠其他元素 -->
    <!-- data-target="#myDiv"用于指明要展开或折叠的是ID为myDiv的元素 -->
    <!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myDiv" aria-expanded="true"
            aria-controls="myDiv">
        使用按钮控制折叠
    </button>-->
    <!-- 应用collapse样式表示该元素是可折叠的 -->
    <!--<div class="collapse" id="myDiv">
        <div class="well">
            疯狂Java讲义是一本必读的Java学习经典。
        </div>
    </div>
</div>-->


