@page
@model Chino.IdentityServer.Pages.Dashboard.User.UserProfileModel
@inject IStringLocalizer<Chino.IdentityServer.Pages.Dashboard.User.UserProfileModel> L
@{
    Layout = "_DashboardLayout";
    ViewData["pageName"] = "users";
    //ViewContext.ClientValidationEnabled = true;
}


<div class="mt-3 container">
    <div class="card mb-3 shadow-sm">
        <div class=" card-header">
            @L["card_header_user_profile"]
        </div>
        <div class="card-body">
            <partial name="ValidationSummary" />

            
        </div>
    </div>

    <div class="card mt-3 mb-3 shadow-sm">
        <div class="card-body">
            <a class="btn btn-outline-secondary">@L["Manage User Roles"]</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}