@page
@model Chino.IdentityServer.Pages.User.EditInfoModel
@{
}

<div class="card mb-3">
    <div class="card-body">
        <form method="post">
            <div class="row mb-3">
                暂时什么都没有，先把后台弄起来
            </div>
        </form>
    </div>
</div>