@page
@model Chino.IdentityServer.Pages.Dashboard.Client.AllowedScopesModel
@inject IStringLocalizer<Chino.IdentityServer.Pages.Dashboard.Client.ConfigurationModel> L
@inject IStringLocalizer<Chino.IdentityServer.Pages.Dashboard.ClientsModel> ClientL
@{
    Layout = "_DashboardLayout";
    ViewData["pageName"] = "clients";

    var thisUrl = string.IsNullOrEmpty(Request.Path) ? "~/" : $"~{Request.Path.Value}";
}


<div class="mt-3 container">
    <div class="card-body mb-3 py-0 px-0">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Dashboard/Clients">@ClientL["breadcrumb_Clients"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.ClientEntity.ClientId</li>
            </ol>
        </nav>
    </div>

    <partial name="ValidationSummary" />


    <div class="card">
        <div class="card-header">
            <h6 class="h6">@L["card-header-allowedScopes"]</h6>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3 row">

                </div>
            </form>
        </div>
    </div>
</div>